SERVER_PORT=8080
DB_URL=jdbc:sqlserver://localhost:1433;databaseName=service_based_db;encrypt=true;trustServerCertificate=true
DB_USERNAME=root
DB_PASSWORD=sapassword
PAYMENT_SERVICE_BASE_URL=http://localhost:8080
